body {
  font-family: "Poppins", "Helvetica Neue", sans-serif;
  background-color: #f5f5f5;
  margin: 0;
}

header {
  display: flex;
  flex-direction: column;
  color: #6070ff;
  background-color: #ffff;
  padding-bottom: 50px;
}

.mobile-nav {
  display: none;
  position: fixed; /* Stay in place */
  top: 0; /* Stay at the top */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: #6070ff; /* Black background with opacity */
  opacity: 0.9; /* 90% opaque */
}

.mobile-nav-content {
  color: #fff;
  padding: 20px;
  width: 95%;
  margin: 0;
  text-align: left;
  font-size: 40px;
  font-weight: 400;
}

.close {
  float: right;
  padding: 10px;
  text-shadow: 1px 1px 10px black;
}

.close:hover,
.close:focus {
  cursor: pointer;
}

.nav-item {
  padding-top: 20px;
}

ul {
  list-style: none;
  display: inline-block;
  text-align: center;
  margin-right: 10px;
  padding: 0;
}

li {
  padding-top: 10px;
}

a {
  text-decoration: none;
}

.desktop-nav {
  display: none;
}

.close-menu {
  text-align: right;
  padding-right: 15%;
  margin-top: 30px;
  cursor: pointer;
}

.portfolio {
  padding-left: 50px;
  margin: 0;
}

.line {
  width: 14px;
  height: 2px;
  background: #6070ff;
  margin: 4px 10px;
  border-radius: 10px;
}

nav {
  flex-direction: column;
}

.hamburger-menue {
  display: block;
  position: absolute;
  right: 15px;
  top: 15px;
}

.hamburger-menue:hover {
  cursor: pointer;
}

.show {
  display: block;
}

.headline-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: 100% 100%;
  background-image: url("../images/mob-head-bg.png");
  background-repeat: no-repeat;
  border-radius: 0 0 0 100px;
  background-color: #ffff;
  height: 650px;
  align-items: center;
}

.headline-container {
  margin: 0 50px;
}

.headline {
  font-size: 52px;
  font-weight: bold;
  color: #172b4d;
  padding-top: 40px;
}

.headline-paragraph {
  font-size: 20px;
  color: #172b4d;
}

.connect {
  font-size: 20px;
  font-weight: 100;
  color: #7f8cff;
}

.icons {
  display: flex;
  justify-content: space-between;
  width: 60%;
  color: #505f79;
}

.works-container {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 40px 80px;
}

span::before {
  content: "• ";
  margin-right: 5px;
}

.grid-r1 {
  grid-row-start: 1;
}

.grid-r2 {
  grid-row-start: 2;
}

.grid-r3 {
  grid-row-start: 3;
}

.grid-r4 {
  grid-row-start: 4;
}

.works-item {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-width: 1px;
  border-color: #dfe1e6;
  border-radius: 15px;
  background-color: #fff;
}

.works-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.works-title {
  font-size: 40px;
  font-weight: bold;
  color: #172b4d;
  padding: 20px 0 0 0;
  margin: 0;
}

.works-description {
  font-size: 20px;
  color: #344563;
  margin: 0 0 20px 0;
}

.element-container {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0 0;
  padding: 0;
}

.elements {
  font-size: 12px;
  padding: 5px 15px;
  margin-right: 30px;
  border-radius: 10px;
  background-color: #ebebff;
  color: #6070ff;
}

.button {
  font-size: 20px;
  border: solid 1px #6070ff;
  color: #6070ff;
  border-radius: 10px;
  margin: 50px 0 50px 0;
  padding: 15px;
  background-color: #fff;
  width: 40%;
}

.works-headline {
  color: #7a869a;
  font-size: 12px;
}

.works-img {
  width: 100%;
}

.works-image-container {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.footer-container {
  background-color: #fff;
  border-radius: 0 100px 0 0;
}

.about-container {
  padding: 0 50px;
}

.about-title {
  font-size: 40px;
  font-weight: bold;
  color: #172b4d;
  padding: 20px 0 0 0;
  margin: 0;
}

.btn {
  font-size: 20px;
  border: solid 1px #6070ff;
  color: #6070ff;
  border-radius: 10px;
  margin: 10px 0 20px 0;
  padding: 12px;
  background-color: #fff;
  width: 50%;
}

.skills {
  display: flex;
  flex-direction: column;
}

.skill {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px #dfe1e6;
  padding: 10px 0;
}

.skill-list {
  width: 100%;
}

.skill-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  background-color: #f5f5f5;
  margin: 0 0 20px 0;
  padding: 10px;
  border-radius: 15px;
  width: 100%;
}

.html {
  color: orange;
}

.css {
  color: blue;
}

.js {
  color: #ffe135;
}

.form {
  color: #fff;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  padding: 60px 55px 55px 55px;
  gap: 20px;
  background-image: url("../images/form.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 100px 0 0 0;
}

.form-input {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.f-input {
  background-color: #fff;
  border: solid 1px #dfe1e6;
  border-radius: 10px;
  padding: 10px;
}

.form-button {
  width: 150px;
  height: 50px;
  border-radius: 10px;
  background-color: #fff;
  color: #6070ff;
}

.form-text {
  height: 120px;
}

.form-des {
  text-align: center;
}

.form-des h2 {
  font-size: 52px;
  font-weight: bold;
}

.form-des h3 {
  font-size: 28px;
  font-weight: 320;
}

.form-button:hover {
  background-color: #dfe1e6;
  color: black;
}

.btn:hover {
  background-color: #6070ff;
  color: #fff;
}

@media only screen and (min-width: 768px) {
  .menu {
    display: none;
  }

  .close-menu {
    display: none;
  }

  .mobile-nav {
    display: none;
  }

  header {
    flex-direction: row;
    justify-content: space-between;
  }

  .desktop-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 40px;
  }

  .hamburger-menue {
    display: none;
  }

  .nav-item {
    padding: 15px 3vw;
  }

  .headline-background {
    background-image: url("../images/des-header-bg.png");
    background-repeat: no-repeat;
    background-size: 95% 90%;
    background-position: center;
    align-items: center;
    padding: 50px 20px;
  }

  .portfolio {
    padding-top: 20px;
    padding-left: 100px;
  }

  .headline-container {
    width: 750px;
  }

  .headline {
    padding-right: 330px;
  }

  .icons {
    width: 350px;
  }

  .works-container {
    gap: 100px;
  }

  .works-item {
    flex-direction: row;
    justify-content: space-between;
  }

  .grid-r2 {
    flex-direction: row-reverse;
  }

  .grid-r4 {
    flex-direction: row-reverse;
  }

  .works-content {
    width: 50%;
  }

  .about-container {
    display: flex;
    flex-direction: row;
    gap: 50px;
  }

  .about-des {
    width: 50%;
  }

  .about-skill {
    width: 50%;
  }

  .skill-list {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .skill-item {
    gap: 10px;
  }

  .form {
    background-image: url("../images/des-form-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 60px 55px 55px 55px;
    border-radius: 100px 0 0 0;
    background-color: #6070ff;
  }

  .form-des {
    width: 650px;
    text-align: center;
    place-self: center;
  }

  .form-input {
    width: 600px;
    place-self: center;
  }

  .form-button {
    align-self: center;
  }
}
